.card{
    width:280px;
    height:330px;
    margin: 15px 0 15px 0;
}

.cardBody{
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardText{
    margin-bottom: 0;
}

.priceAndButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantityButton{
    margin:2px
}

.addRemoveButtons{
    color:white;
    display: flex;
    align-items: baseline;
}

.nameAndWish{
    display: flex;
    justify-content: space-between;
}